/* Reset */

* {
  font-family: var(--f-stack-default);
  font-size: var(--f-size-default);
  color: var(--c-white);
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--bg-intro);
}

h1 { font-size: var(--f-size-xxlarge); }
h2 { font-size: var(--f-size-xlarge); }
h3 { font-size: var(--f-size-large); }
h4 { font-size: var(--f-size-default); }
h5 { font-size: var(--f-size-small); }
h6 { font-size: var(--f-size-xsmall); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--f-weight-700);
  margin: 0 0 var(--trim-small);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: var(--f-stack-special);
}

a {
  text-decoration: none;
  transition: .3s;
}

a:is(:hover, :active, :focus) {
  text-decoration: underline;
}

:is(button, a.button, .button) {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  text-align: center;
  min-height: 45px;
  line-height: 45px;
  border: 0;
  font-weight: var(--f-weight-700);
  background-color: var(--c-action-blue);
  border-radius: var(--default-border-radius);
}

:is(button, a.button, .button):hover {
  text-decoration: none;
  background-color: var(--c-action-cyan);
}

i::before {
  font-family: var(--f-icons);
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: var(--body-content);
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
