/******************************************
 * Importando fontes do Google Fonts
 *************************************** */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/******************************************
 * Definindo variaveis do tema
 *************************************** */

:root {
  --bg-intro: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonials: hsl(219, 30%, 18%);
  --c-action-cyan: hsl(176, 68%, 64%);
  --c-action-blue: hsl(198, 60%, 50%);
  --c-action-error: hsl(0, 100%, 63%);
  --c-white: hsl(0, 0%, 100%);
  --f-size-defaut: 14px;
  --f-weight-400: 400;
  --f-weight-700: 700;
  --f-stack-defaut: "Open Sans";
  --f-stack-special: "Raleway";
  --body-content: 1200px;
}

/******************************************
 * Resetando/Atribuindo valores geral
 *************************************** */

* {
  font-family: var(--f-stack-defaut);
  font-size: var(--f-size-defaut);
  color: var(--c-white);
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
font-family: var(--f-stack-special);
}

.container {
  max-width: var(--body-content);
  margin: 0 auto;
}

/******************************************
 * Estilo do tema
 *************************************** */
