@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variables */

:root {
  --bg-intro: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonials: hsl(219, 30%, 18%);
  --c-action-cyan: hsl(176, 68%, 64%);
  --c-action-blue: hsl(198, 60%, 50%);
  --c-action-error: hsl(0, 100%, 63%);
  --c-white: hsl(0, 0%, 100%);
  --f-size-xxlarge: 35px;
  --f-size-xlarge: 18px;
  --f-size-large: 16px;
  --f-size-default: 14px;
  --f-size-small: 13px;
  --f-size-xsmall: 12px;
  --f-weight-400: 400;
  --f-weight-700: 700;
  --f-stack-default: "Open Sans";
  --f-stack-special: "Raleway";
  --f-icons: "FontAwesome";
  --body-content: 1200px;
  --gap: 10px;
  --trim-small: 15px;
  --trim: 30px;
  --default-border-radius: 50px;
}
